body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: monospace;
}

.submit {
  border-radius: 5px;
  border: solid 0.5px;
  background-color: hsl(0, 0%, 60%);
  height: 30px;
  width: 100px;
}

#submit:hover {
  background-color: hsl(0, 0%, 40%);
}

#submit:active {
  background-color: hsl(0, 0%, 80%);
}

/* form {
  border: 1px solid black;
} */

#submitContainer,
#radioContainer {
  display: flex;
  justify-content: center;
}

#noContainer {
  margin-left: 10px;
}